body {
  background-color: #303030;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  color: #e3e3e3;
}

#container {
  display: flex;
  flex-direction: column;
  width: 80%;
  align-items: center;
  margin: auto;
}

form {
  width: fit-content;
}

header {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

header,
a {
  color: white;
  font-size: 24px;
  text-decoration: none;
}

header a:hover {
  text-decoration: solid white underline;
}

#login-header-container {
  display: flex;
  gap: 20px;
}

#signup-form,
#login-form,
#upload-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#user-welcome {
  font-size: 20px;
}

[id*="rename-form"] {
  display: none;
  position: fixed;
}

#folders-container {
  display: flex;
  flex-direction: column;
  width: 80%;
  border: 1px #5d5d5d solid;
  margin: 20px 0 0 0;
}

.folder-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #313131;
  border-bottom: solid 1px #595959;

  padding: 5px 10px;
  transition: 300ms;
}

.folder-container:last-child {
  border-bottom: none;
}

.folder-container:hover {
  background-color: #595959;
}

.folder-link {
  font-size: 36px;
}

#rename-btn,
#delete-btn {
  font-size: 20px;
  height: 36px;
}

.folder-button-options-container {
  position: relative;
  display: inline-block;
}

.folder-options {
  cursor: pointer;
  width: 20px;
  height: 20px;
}

.folder-options-buttons {
  position: absolute;
  top: -90px; /* Position the dropdown above the three dots */
  left: 50%;
  transform: translateX(-50%);
  background-color: #505050;
  border: 1px solid #383838;
  border-radius: 5px;
  padding: 10px;
  z-index: 10;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.folder-options-buttons button {
  background-color: transparent;
  border: none;
  color: #e3e3e3;
  font-size: 14px;
  cursor: pointer;
  padding: 5px;
}

.folder-options-buttons button:hover {
  background-color: #696969;
  border-radius: 3px;
}

.folder-name-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.folder-name-container img {
  width: 30px;
  height: 30px;
}
