
<div id="folder-button-container<%= folder.id%>" onmouseover="folderButtonHandler(<%= folder.id%>)">
    <button
            id="rename-btn"
            onclick="renameHandler(<%= folder.id %>)"
    >
        Rename
    </button>
</div>

