<header>
    <div><a href="/">Home</a></div>
    <% if (!user) { %>
        <div id="login-header-container">
            <a href="/login">Login</a>
            <a href="/signup">Signup</a>
        </div>
    <% } else { %>
        <div><a href="/logout">Logout</a></div>
    <% } %>
</header>