<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Folders</title>

    <link rel="icon" href="/assets/safe2-fill.svg">
    <link rel="stylesheet" href="/css/output.css">

    <script src="/scripts/dist/bundle.js" defer></script>
    <script src="//unpkg.com/alpinejs" defer></script>
</head>
<body>
<%- include("loader.ejs") %>

<header class="flex justify-between border-b border-gray-800 text-4xl p-4 " >
    <div id="login-header-container">
        <% if (user) { %>
            <a href="/folder" class="header-link-style" data-id="load">Folders</a>
        <% } else{ %>
            <a href="/login" class="header-link-style" data-id="load">Folders</a>

        <% } %>
    </div>
    <% if (!user) { %>
        <div id="login-header-container">
            <a href="/login" class="header-link-style" data-id="load">Login</a>
            <a href="/signup" class="header-link-style" data-id="load">Signup</a>
        </div>
    <% } else { %>
        <div><a href="/logout" class="header-link-style" data-id="load">Logout</a></div>
    <% } %>
</header>
