<header>
    <div id="login-header-container">
        <a href="/">Home</a>
        <%if (user)%>
        <a href="/folder">Folders</a>
    </div>
    <% if (!user) { %>
        <div id="login-header-container">
            <a href="/login">Login</a>
            <a href="/signup">Signup</a>
        </div>
    <% } else { %>
        <div><a href="/logout">Logout</a></div>
    <% } %>
</header>