<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Folders</title>
    <link
            rel="stylesheet"
            href="/css/style.css"
    >
</head>
<body>
    <%- include("partials/header.ejs") %>
<div id="container">
    <h1>Folders</h1>
    <%if (user) {%>
        <form action="" method="post">
            <button type="submit">Add folder</button>
        </form>

        <div>
            <% folders.forEach((folder) => { %>
                <div><%= folder.name%></div>
            <% })%>
        </div>
    <%}%>

</div>

</body>
</html>