<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Folders</title>
    <link
            rel="stylesheet"
            href="/css/output.css"
    >
    <script defer src="/scripts/rename.js"></script>
    <script defer src="/scripts/folderOpt.js"></script>
    <script defer src="/scripts/delete.js"></script>

</head>
<body>
<%- include("partials/header.ejs") %>
<div id="container">

    <% if (user) { %>
        <form
                action="/folder/<%= folders.id%>/create-folder"
                method="post"
        >
            <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" type="submit">Add folder</button>
        </form>

        <div id="folders-container">
            <div id="folder-header" ></div>
            <% folders.subFolders.forEach((folder) => { %>
                <%- include("partials/folder.ejs", {folder}) %>
            <% }) %>
            <% /*  %>
            <%  files.forEach((file) => {  %>
            <%- include("partials/file.ejs", {file}) %>
            <%  })  %>
            <%  */ %>

        </div>
    <% } %>

</div>

</body>
</html>