<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link
            rel="stylesheet"
            href="/css/style.css"
    >
</head>
<body>
    <%- include("partials/header.ejs") %>
<div id="container">
    <%if (user) {%>
        <p>Welcome <%= user.username%></p>
    <%}%>

</div>

</body>
</html>